* {
    box-sizing: border-box;
    padding: 0%;
}

body {
    height: 98vh;
    background-image: linear-gradient(orange, white, green);
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: space-around;
   
}
/* 
.map{
    width: 90%;
    height: 98%;
}
.map img{
    height: 100%;

} */
.sidebar {
    width: 200px;
    height: 98%;
    overflow: hidden;
    position: relative;
    background: #f4f4f4;
    border-right: 2px solid #ccc;
}
.scroll-container {
    position: absolute;
    top: 0;
    width: 98%;
    animation: scrollUp 10s linear infinite;
}
@keyframes scrollUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50%); }
}
.item {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.details {
    flex-grow: 1;
    padding: 20px;
    display: none;
    background: #fff;
}
.show {
    display: block;
}

